html{
}
body {
	font-family: Verdana;
	background: #eee;
	padding-top: 30px;
}
h1 {
	text-align:center
}
br{
	display:none
}

/*
 * clearfix
 * see: http://css-tricks.com/snippets/css/clear-fix/
 */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

#playbackArea {
	width: 1220px; /* #slide.width + #chat.width */
	margin: 0 auto;
}

#audioRecording{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#presentation {
	float: left;
	position: relative;
}

#slide {
	background-image: url('../logo.png');
	text-align: center;
	border: 1px solid #ccc;
	width: 800px;
	height: 600px; /* same as slide images */
}


.chatcontainer{
	float: right;
	background: white;
}
#chat{
	margin: 0 auto;
	padding: 0 10px;
	border: 1px solid #ccc;
}
#chat div p{
	margin-bottom:-10px;
	padding:0px;
	font-size:13px
}
#big {display:none}
#mid {display:none}

#thumbnails {
	display: none;
	clear: both;
	width: 800px; /* same as #slide */
	position: absolute;
	bottom: 35px;
	height: 135px;
	background: #ddd;
	border-top: 1px solid #bbb;
	white-space: nowrap;
	overflow: auto;
}

#thumbnails .thumbnail {
	height: 100px;
	width: auto;
	border: 1px solid #bbb;
	margin: 5px;
	cursor: pointer;
}

#footer{
        margin: 20px auto;
        font-size:0.75em;
        color: #666;
        text-align: center;
        clear: both;
}
